    <div>
      <table>
        <span class="well">{{cartSize}} type(s) of item(s) currently in cart<br />
          <a [routerLink]="['/my_cart']" style="float:right;"class="btn btn-default">My cart</a>
        </span>
      <div *ngFor="let chunk of items; let i = index" >
        <tr>
          <div *ngIf="chunk[1]">
            <td class="box">
              {{chunk[0]['itemName']}}<br />
              {{chunk[0]['providerName']}}<br />
              {{chunk[0]['price']}}
              <hr>
              <div class="inputs">
                <button type="submit"(click)="addtoCart(chunk[0]['article_id'],quant0i.value)" class="btn btn-info">Buy</button>
                <input type="number" min="1" #quant0i style="width:60px;" class="form-control" value="1">
              </div>
            </td>
            <td class="between"></td>
            <td class="box">
              {{chunk[1]['itemName']}}<br />
              {{chunk[1]['providerName']}}<br />
              {{chunk[1]['price']}}
              <hr>
              <div class="inputs">
                <button type="submit"(click)="addtoCart(chunk[1]['article_id'],quant1i.value)" class="btn btn-info">Buy</button>
                <input type="number" min="1" #quant1i style="width:60px;" class="form-control" value="1">
              </div>
            </td>
          </div>

          <div *ngIf="!chunk[1]">
            <td class="box">
              {{chunk[0]['itemName']}}<br />
              {{chunk[0]['providerName']}}<br />
              {{chunk[0]['price']}}
              <hr>
              <div class="inputs">
                <button type="submit" (click)="addtoCart(chunk[0]['article_id'],quant0i.value)" class="btn btn-info">Buy</button>
                <input type="number" min="1" #quant0i style="width:60px;" class="form-control" value="1">
              </div>
            </td>
          </div>
          <hr>
        </tr>
      </div>
  </table>
</div>
