table{
  width: 100%;
  margin:0 auto;
}
span{
  font: Helvetica;
  float: right;
}
td{
  font: Helvetica;
  width: 45%;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 5px;
}
.inputs{
  display:inline-flex;
}
.inputs button{
  float:left;
}
.inpts input{
  float:right;
}
.between{
  width: 10%;
}
.box{
  height: 200px;
  border-collapse: collapse;
  width: 40%;
  min-width: 170px;
  background-color: #88d8c0;
  padding-left: 5%
}
