  .welcome{
    color: #ffc02a;
    mix-blend-mode: normal;

  }
  .jumbotron{
      background-image: url('../banner.jpg');
      background-size: 120%;
      background-repeat: no-repeat;
      background-position:0 -200px;
      margin-bottom: auto;
  }

  #navbar-main{
    margin-top: 10px;
    font-size: 125%;
  }
  #brand{
    text-decoration: none;
  }
  #brand:hover{
    text-decoration: none;
  }
  footer{
    background-color: #f4f4f4;
    display: inline;
    width: 100%;
    margin:0 auto;
    align-content: center;
  }
  .third{
    width: 33%;
  }
  .center{
      margin: auto;
      width: 50%;
      padding: 10px;
    }
  footer a{
    font-size:80%;
    text-decoration: none;
    margin-bottom: 40px;
    color: #404040;
  }
