<div class="jumbotron text-center">
  <div class="welcome">
    <h1>Something for everyone</h1>
    <p>Look no further</p>
  </div>
</div>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <h3 routerLinkActive="active"><a id="brand" [routerLink]="['/home']">Cloud Store</a></h3>
    </div>
    <ul class="nav navbar-nav navbar-right" id="navbar-main">
      <li routerLinkActive="active"><a [routerLink]="['/home']">Gallery</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/my_cart']">My cart</a></li>
    </ul>
  </div>
</div>

<div class="container">
    <router-outlet>
    </router-outlet>
</div>

<footer>
  <hr/>
  <div class="container">
    Cloud Store by Georgios Kyriakou
  </div>
  <!-- <table class="center">
    <tr >
      <td class="third">
        <a href="//twitter.com/">Twitter</a> <br />
        <a href="//facebook.com">Facbook</a>
      </td>
      <td class="third">
        <a [routerLink]="['/home']" >
          ||HOME||</a>
        </td>
        <td class="third">
          <a>Copyright &copy; 2017 George Kyriakou</a>
        </td>
      </tr>
    </table> -->
  </footer>
