<div *ngIf="cart.length==0">
  <div class="alert-info">
    <div class="container">
      <div class="well">
        <h4>Your cart is empty</h4>
      </div>
    </div>
  </div>
</div>

<div *ngIf="cart.length!=0">
  <div class="container">
    <div *ngFor="let item of inCart">
      <div class="row">
        <div class="col-md-6">
          Item description: {{item[0].itemName}}<br />
          Manufacturer: {{item[0].providerName}}<br />
          Price: {{item[0].price}}<br />
          Quantity: {{item[0].article_quantity}}<br />
        </div>
        <div class="col-md-6">
          <form (submit)="removeFromCart(item[0].article_id)">
            <input type="submit" class="btn btn-default" value="remove">
          </form>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <form (submit)="submitCart()">
    <input type="submit" class="btn btn-info" value="Submit Cart">
  </form>
</div>
