<div class="container">
  <div *ngIf="response['cart']">
    <h2>Thank You for your purchase!</h2>
    <div class="container">
      <div class="purchDets">
        <div class="well">
          Amout paid: {{response['cart'].total_values.cart_total_to_pay}} GBP<br />
          Carrier service: {{response['cart'].carrier_service.name}}<br />
          Carrier service cost: {{response['cart'].carrier_service.price}}
        </div>
      </div>
      <hr>
      Items purchased:
      <div *ngFor="let art of response['cart'].cartarticles">
        {{art.name}} (x{{art.quantity}})<br /></div>
    </div>
  </div>
</div>
